// bower:scss
// endbower

* {
  box-sizing: border-box;
	user-select: none;
}
html, body {
	overflow: hidden;
	height: 100%;
	margin: 0;
}
.playground {
	display: flex;
	flex-direction: coloumn;
	position: relative;
	justify-content: center;
	align-items: center;
}
.block {
	margin: 1px;
	border-radius: 5px;
	height: 30px;
	width: 30px;
	transition: background-color,width,height 0.5s,0.2s,0.2s ease-out;
	border: 1px solid #444;
}
.dropped .block {
	transition: background-color 0.5s ease-out;
}
.color-0 {
	background-color: #ff3333;
}
.color-1 {
	background-color: #ffa500;
}
.color-2 {
	background-color: #eeee00;
}
.color-3 {
	background-color: #cccc00;
}
.color-4 {
	background-color: #3333ff
}
.color-5 {
	background-color: #ca5ede;
}
.color-6 {
	background-color: #ccc;
	border: none;
}
.color-x {
	visibility: hidden;
}
.bg {
	display: flex;
	flex-direction: column;
}
.horz {
	display: flex;
	flex-direction: row;
}
.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 25px;
	height: 130px;

	.remain-block .block {
		width: 20px;
		height: 20px;
	}
	.ui-draggable-dragging .block {
		margin-bottom: 4px;
		margin-right: 4px;
		width: 27px;
		height: 27px;
	}
}
.remain-block {
	display: flex;
	flex-direction: column;
	width: 33%;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.title {
	font-size: 30px;
	text-align: center;
	margin: 10px
}
.score {
	font-size: 20px;
	text-align: center;
	margin: 10px;
	position: absolute;
	top: 5px;
	right: 10px
}
.game-over {
	display: none;
	position: absolute;
	flex-direction: column;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
}
.game-over.game-over-on {
	display: flex;
}
.game-over-popup {
	display: flex;
	position: relative;
	flex-direction: column;
	border: 1px solid #333;
	border-radius: 20px;
	width: 200px;
	height: 200px;
	background-color: rgba(200,200,200,0.7);
	overflow: hidden;
	padding: 30px;

	button {
		background-color: orange;
	}
}